# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [24]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *

In [25]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
conn.set_session(autocommit=True)
cur = conn.cursor()

In [26]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))

    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [27]:
song_files = get_files("data/song_data")

In [28]:
filepath = f'file://{song_files[0]}'
print(filepath)

file:///Users/samadarshad/dev/udacity/UdacityDataC1/data/song_data/A/A/A/TRAAAEF128F4273421.json

In [29]:
df = pd.read_json(filepath, lines=True)
df.head(100)

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
0,1,AR7G5I41187FB4CE6C,NaN,NaN,"London, England",Adam Ant,SONHOTT12A8C13493C,Something Girls,233.40363,1982

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [30]:
print(df[["song_id"]])
f = df.iloc[0]
song_data = [f.song_id, f.title, f.artist_id, int(f.year), f.duration]
song_data

              song_id
0  SONHOTT12A8C13493C

['SONHOTT12A8C13493C',
 'Something Girls',
 'AR7G5I41187FB4CE6C',
 1982,
 233.40363]

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [31]:
artist_data = [f.artist_id, f.artist_name, f.artist_location, f.artist_latitude, f.artist_longitude]
artist_data

['AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', nan, nan]

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [32]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [33]:
cur.execute(song_table_insert, song_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [34]:
log_files = get_files('data/log_data')

In [35]:
filepath = f'file://{log_files[0]}'
filepath

'file:///Users/samadarshad/dev/udacity/UdacityDataC1/data/log_data/2018/11/2018-11-11-events.json'

In [36]:
df = pd.read_json(filepath, lines=True)
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Frumpies,Logged In,Anabelle,F,0,Simpson,134.47791,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,Fuck Kitty,200,1541903636796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
1,Kenny G with Peabo Bryson,Logged In,Anabelle,F,1,Simpson,264.75057,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,By The Time This Night Is Over,200,1541903770796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
2,Biffy Clyro,Logged In,Anabelle,F,2,Simpson,189.83138,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,God & Satan,200,1541904034796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
3,None,Logged In,Lily,F,0,Burns,NaN,free,"New York-Newark-Jersey City, NY-NJ-PA",GET,Home,1.540621e+12,456,None,200,1541910841796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",32
4,HIM,Logged In,Lily,F,1,Burns,212.06159,free,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540621e+12,456,Beautiful,200,1541910973796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",32

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [37]:
df = df[df.page == "NextSong"]
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Frumpies,Logged In,Anabelle,F,0,Simpson,134.47791,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,Fuck Kitty,200,1541903636796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
1,Kenny G with Peabo Bryson,Logged In,Anabelle,F,1,Simpson,264.75057,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,By The Time This Night Is Over,200,1541903770796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
2,Biffy Clyro,Logged In,Anabelle,F,2,Simpson,189.83138,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,God & Satan,200,1541904034796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
4,HIM,Logged In,Lily,F,1,Burns,212.06159,free,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540621e+12,456,Beautiful,200,1541910973796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",32
5,Matmos,Logged In,Joseph,M,0,Gutierrez,1449.11628,free,"Columbia, SC",PUT,NextSong,1.540809e+12,284,Supreme Balloon,200,1541911006796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3...",75

In [38]:
t = pd.to_datetime(df.ts, unit='ms')
t.head()

0   2018-11-11 02:33:56.796
1   2018-11-11 02:36:10.796
2   2018-11-11 02:40:34.796
4   2018-11-11 04:36:13.796
5   2018-11-11 04:36:46.796
Name: ts, dtype: datetime64[ns]

In [39]:
time_data = (t, t.dt.hour, t.dt.day, t.dt.weekofyear, t.dt.month, t.dt.year, t.dt.weekday)
column_labels = ('timestamp', 'hour', 'day', 'week', 'month', 'year', 'weekday')

/var/folders/t7/07tj8h915vl39bnb976386fw0000gn/T/ipykernel_2733/4123741563.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  time_data = (t, t.dt.hour, t.dt.day, t.dt.weekofyear, t.dt.month, t.dt.year, t.dt.weekday)

In [40]:
time_df = pd.DataFrame(dict(zip(column_labels, time_data)))
time_df.head()

                timestamp  hour  day  week  month  year  weekday
0 2018-11-11 02:33:56.796     2   11    45     11  2018        6
1 2018-11-11 02:36:10.796     2   11    45     11  2018        6
2 2018-11-11 02:40:34.796     2   11    45     11  2018        6
4 2018-11-11 04:36:13.796     4   11    45     11  2018        6
5 2018-11-11 04:36:46.796     4   11    45     11  2018        6

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [41]:
for i, row in time_df.iterrows():
    print(i)
    print(row)
    cur.execute(time_table_insert, list(row))
    conn.commit()

0
timestamp    2018-11-11 02:33:56.796000
hour                                  2
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 0, dtype: object
1
timestamp    2018-11-11 02:36:10.796000
hour                                  2
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 1, dtype: object
2
timestamp    2018-11-11 02:40:34.796000
hour                                  2
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 2, dtype: object
4
timestamp    2018-11-11 04:36:13.796000
hour                                  4
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 4, dtype: object
5
timestamp    2018-11-11 04:36:46.796000
hour                                  4
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 5, dtype: object
6
timestamp    2018-11-11 09:56:28.796000
hour                                  9
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 6, dtype: object
7
timestamp    2018-11-11 10:00:47.796000
hour                                 10
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 7, dtype: object
8
timestamp    2018-11-11 10:04:07.796000
hour                                 10
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 8, dtype: object
9
timestamp    2018-11-11 10:08:28.796000
hour                                 10
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 9, dtype: object
10
timestamp    2018-11-11 10:12:00.796000
hour                                 10
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 10, dtype: object
12
timestamp    2018-11-11 10:27:43.796000
hour                                 10
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 12, dtype: object
13
timestamp    2018-11-11 10:33:44.796000
hour                                 10
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 13, dtype: object
14
timestamp    2018-11-11 10:36:22.796000
hour                                 10
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 14, dtype: object
15
timestamp    2018-11-11 10:40:14.796000
hour                                 10
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 15, dtype: object
16
timestamp    2018-11-11 10:43:23.796000
hour                                 10
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 16, dtype: object
17
timestamp    2018-11-11 10:46:18.796000
hour                                 10
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 17, dtype: object
23
timestamp    2018-11-11 11:14:51.796000
hour                                 11
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 23, dtype: object
25
timestamp    2018-11-11 13:41:22.796000
hour                                 13
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 25, dtype: object
27
timestamp    2018-11-11 13:52:23.796000
hour                                 13
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 27, dtype: object
28
timestamp    2018-11-11 13:58:22.796000
hour                                 13
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 28, dtype: object
30
timestamp    2018-11-11 14:05:43.796000
hour                                 14
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 30, dtype: object
31
timestamp    2018-11-11 14:07:54.796000
hour                                 14
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 31, dtype: object
32
timestamp    2018-11-11 14:09:36.796000
hour                                 14
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 32, dtype: object
33
timestamp    2018-11-11 14:14:29.796000
hour                                 14
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 33, dtype: object
35
timestamp    2018-11-11 14:15:06.796000
hour                                 14
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 35, dtype: object
36
timestamp    2018-11-11 14:17:52.796000
hour                                 14
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 36, dtype: object
37
timestamp    2018-11-11 14:19:37.796000
hour                                 14
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 37, dtype: object
38
timestamp    2018-11-11 14:24:58.796000
hour                                 14
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 38, dtype: object
39
timestamp    2018-11-11 14:30:05.796000
hour                                 14
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 39, dtype: object
40
timestamp    2018-11-11 14:33:53.796000
hour                                 14
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 40, dtype: object
41
timestamp    2018-11-11 14:37:16.796000
hour                                 14
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 41, dtype: object
42
timestamp    2018-11-11 14:40:58.796000
hour                                 14
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 42, dtype: object
43
timestamp    2018-11-11 14:44:29.796000
hour                                 14
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 43, dtype: object
44
timestamp    2018-11-11 14:47:24.796000
hour                                 14
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 44, dtype: object
45
timestamp    2018-11-11 14:47:42.796000
hour                                 14
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 45, dtype: object
46
timestamp    2018-11-11 14:51:55.796000
hour                                 14
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 46, dtype: object
48
timestamp    2018-11-11 14:54:07.796000
hour                                 14
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 48, dtype: object
49
timestamp    2018-11-11 14:56:21.796000
hour                                 14
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 49, dtype: object
50
timestamp    2018-11-11 14:57:24.796000
hour                                 14
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 50, dtype: object
52
timestamp    2018-11-11 15:00:12.796000
hour                                 15
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 52, dtype: object
54
timestamp    2018-11-11 15:00:37.796000
hour                                 15
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 54, dtype: object
55
timestamp    2018-11-11 15:04:26.796000
hour                                 15
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 55, dtype: object
56
timestamp    2018-11-11 15:07:26.796000
hour                                 15
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 56, dtype: object
57
timestamp    2018-11-11 15:10:12.796000
hour                                 15
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 57, dtype: object
58
timestamp    2018-11-11 15:14:56.796000
hour                                 15
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 58, dtype: object
59
timestamp    2018-11-11 16:01:19.796000
hour                                 16
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 59, dtype: object
60
timestamp    2018-11-11 16:05:35.796000
hour                                 16
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 60, dtype: object
61
timestamp    2018-11-11 16:09:12.796000
hour                                 16
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 61, dtype: object
62
timestamp    2018-11-11 16:13:43.796000
hour                                 16
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 62, dtype: object
65
timestamp    2018-11-11 18:08:33.796000
hour                                 18
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 65, dtype: object
67
timestamp    2018-11-11 18:48:12.796000
hour                                 18
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 67, dtype: object
69
timestamp    2018-11-11 18:49:01.796000
hour                                 18
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 69, dtype: object
70
timestamp    2018-11-11 18:51:56.796000
hour                                 18
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 70, dtype: object
71
timestamp    2018-11-11 18:53:36.796000
hour                                 18
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 71, dtype: object
72
timestamp    2018-11-11 18:54:46.796000
hour                                 18
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 72, dtype: object
76
timestamp    2018-11-11 19:41:45.796000
hour                                 19
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 76, dtype: object
77
timestamp    2018-11-11 19:45:25.796000
hour                                 19
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 77, dtype: object
78
timestamp    2018-11-11 19:48:53.796000
hour                                 19
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 78, dtype: object
80
timestamp    2018-11-11 19:56:23.796000
hour                                 19
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 80, dtype: object
81
timestamp    2018-11-11 19:59:18.796000
hour                                 19
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 81, dtype: object
82
timestamp    2018-11-11 20:03:09.796000
hour                                 20
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 82, dtype: object
83
timestamp    2018-11-11 20:06:02.796000
hour                                 20
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 83, dtype: object
84
timestamp    2018-11-11 20:08:52.796000
hour                                 20
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 84, dtype: object
85
timestamp    2018-11-11 20:13:22.796000
hour                                 20
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 85, dtype: object
86
timestamp    2018-11-11 20:15:55.796000
hour                                 20
day                                  11
week                                 45
month                                11
year                               2018
weekday                               6
Name: 86, dtype: object
87
timestamp    2018-11-11 20:19:18.796000

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [42]:
user_data = (df.userId, df.firstName, df.lastName, df.gender, df.level)
column_labels = ('user_id', 'first_name', 'last_name', 'gender', 'level')
user_df = pd.DataFrame(dict(zip(column_labels, user_data)))
user_df.head()

  user_id first_name  last_name gender level
0      69   Anabelle    Simpson      F  free
1      69   Anabelle    Simpson      F  free
2      69   Anabelle    Simpson      F  free
4      32       Lily      Burns      F  free
5      75     Joseph  Gutierrez      M  free

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [43]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [44]:
df

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Frumpies,Logged In,Anabelle,F,0,Simpson,134.47791,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,Fuck Kitty,200,1541903636796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
1,Kenny G with Peabo Bryson,Logged In,Anabelle,F,1,Simpson,264.75057,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,By The Time This Night Is Over,200,1541903770796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
2,Biffy Clyro,Logged In,Anabelle,F,2,Simpson,189.83138,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,God & Satan,200,1541904034796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
4,HIM,Logged In,Lily,F,1,Burns,212.06159,free,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540621e+12,456,Beautiful,200,1541910973796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",32
5,Matmos,Logged In,Joseph,M,0,Gutierrez,1449.11628,free,"Columbia, SC",PUT,NextSong,1.540809e+12,284,Supreme Balloon,200,1541911006796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3...",75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,Sidewalk Prophets,Logged In,Molly,F,0,Taylor,260.62322,free,"St. Louis, MO-IL",PUT,NextSong,1.540993e+12,464,You Love Me Anyway (Album),200,1541970568796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",35
91,Rise Against,Logged In,Molly,F,1,Taylor,221.17832,free,"St. Louis, MO-IL",PUT,NextSong,1.540993e+12,464,Torches,200,1541970828796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",35
92,K'Naan,Logged In,Molly,F,2,Taylor,220.49914,free,"St. Louis, MO-IL",PUT,NextSong,1.540993e+12,464,Wavin' Flag,200,1541971049796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",35
93,Patrick Jumpen,Logged In,Ryan,M,0,Smith,208.87465,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,480,Holiday,200,1541979540796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
94,Alicia Keys,Logged In,Ryan,M,1,Smith,216.47628,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,480,Empire State Of Mind (Part II) Broken Down,200,1541979748796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26

In [45]:
for index, row in df.iterrows():

    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.song, row.artist, row.length))
    results = cur.fetchone()
    print(results)
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None

    # insert songplay record
    songplay_data = (pd.to_datetime(row.ts, unit='ms'), row.userId, row.level, songid, artistid, row.sessionId, row.location, row.userAgent)
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()

None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [46]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.